<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/doc-centos-7/about">About</a></li>
	        		<li><a href="/doc-centos-7/cv">CV</a></li>
	        		<li><a href="/doc-centos-7/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="kusgautam@hotmail.com">email</a></li>
	        		<li><a href="https://github.com/aakarkun">github.com/aakarkun</a></li>
				</ul>
			</footer>
		</body>
	</html>
